{% extends not is_ajax ? "@templates/backend/default.twig" : "@templates/ajax.twig" %}

{% block javascript %}
{{ parent() }}
{{ dw.grid(null, "sistema/menu/listar/") }}
{% endblock javascript %}

{% block content %}
    <div class="btn-toolbar btn-toolbar-top">
        <div class="btn-actions">
            {{ dw.link_add("agregar", 'AGREGAR') }}
        </div>
    </div>
    <div class="dw-overflow">
        <table class="table table-bordered table-hover table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>NUM</th>
                    <th class="col-collapse" data-search="posicion">POSICION</th>
                    <th class="col-collapse" data-search="padre">PADRE</th>
                    <th class="col-collapse" data-search="menu">TITULO</th>
                    <th class="col-collapse" data-search="recurso">RECURSO</th>
                    <th class="col-collapse" data-search="url">URL</th>
                    <th class="col-collapse">ICONO</th>
                    <th class="col-collapse" data-search="visibilidad">VISIBILIDAD</th>
                    <th class="col-collapse" data-search="activo">ESTADO</th>
                    <th class="btn-actions no-responsive">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus.items %}
                    {% if constant('APP_OFFICE') or menu.id != constant('Menu::SUCURSAL') %}
                        <tr>
                            <td></td>
                            <td>{{ menu.posicion }}</td>
                            <td>{{ menu.padre }}</td>
                            <td>{{ menu.menu }}</td>
                            <td>{{ menu.recurso }}</td>
                            <td>{{ menu.url }}</td>
                            <td>{{ menu.icono }}</td>
                            <td>{% if menu.visibilidad == constant('Menu::BACKEND') %}
                                <span class="label label-success">Backend</span>
                                {% else %}<span class="label label-warning">Frontend</span>{% endif %}</td>
                            <td>{% if menu.activo == constant('Menu::ACTIVO') %}
                                <span class="label label-success">Activo</span>
                                {% else %}<span class="label label-important">Bloqueado</span>{% endif %}</td>
                            <td>
                                {{ dw.link_edit("editar/#{security_key(menu.id,'upd_menu')}/", 'Modificar menú') }}
                                {% if menu.activo == constant('Menu::ACTIVO') %}
                                    {{ dw.link_action("estado/inactivar/#{security_key(menu.id,'inactivar_menu')}/", 'Bloquear menú', 'success', 'flag') }}
                                {% else %}
                                    {{ dw.link_action("estado/reactivar/#{security_key(menu.id,'reactivar_menu')}/", 'Reactivar menú', 'danger', 'flag') }}
                                {% endif %}
                                {{ dw.link_delete("eliminar/#{security_key(menu.id,'eliminar_menu')}/", 'Eliminar menú') }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{{ dw.paginator(menus, "sistema/menu/listar/#{order}/") }}
{% endblock content %}