<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ page_title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="{{  constant('APP_CHARSET') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
        {% block css %}
        {{ css('bootstrap/default/css/bootstrap.min') }}
        {{ css('font-awesome.min') }}
        <!--[if IE 7]>
            <link rel="stylesheet" href="{{ PUBLIC_PATH }}css/font-awesome-ie7.min.css">
        <![endif]-->
        {{ css('style') }}
        {{ css('backend/base') }}
        {{ css('backend/style') }}
        {{ css('backend/login') }}
        {{ css('backend/themes/default/default') }}
        {% if not constant('APP_LOCAL') %}
            <link href="http://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet" type="text/css">
        {% endif %}
        {% endblock css %}
        {{ js('jquery/jquery.min') }}
    </head>
    <body>

        {% include '@partials/backend/header_login.twig' %}

        <div id="dw-shell-load">
            <div id="dw-console"></div>
            <div id="dw-shell-content" class="container-fluid">
                {% include "@partials/dw_message.twig" %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        {% include '@partials/backend/footer.twig' %}

        <div id="dw-loading-content" class="alpha60"></div>
        <div id="dw-spinner" class="preview dw-corner-all dw-shadow-dark"></div>
        {% block javascript %}
            {{ js('bootstrap/bootstrap.min') }}
            {{ js('jquery/jquery.kumbiaphp') }}
            {{ js('jquery/jquery.keyfilter') }}
            {{ js('jquery/jquery.dwload') }}
            {{ js('vendors/jsspin.min') }}
            {{ js('jquery/jquery.spin') }}
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            {{ js('vendors/html5') }}
            <![endif]-->
            {{ js('utils/var') }}
            <script type="text/javascript">
                $(function () {
                    jQuery.support.placeholder = false;
                    test = document.createElement('input');
                    if('placeholder' in test) jQuery.support.placeholder = true;
                    if (!$.support.placeholder) {
                        $('.field').find ('label').show();
                    }
                });
            </script>
            {{ DwDialog_alert('Se ha generado la siguiente excepción: <br /><span id="dw-error-ajax"></span>.', 'title: Oops! hemos realizado algo mal.', 'name: errorAjax') }}
            {{ DwDialog_alert('Se ha producido un error en la validación del formulario.', 'subtext: Verifica los datos e intenta nuevamente.', 'title: Formulario incorrecto', 'name: errorForm') }}
        {% endblock javascript %}
    </body>
</html>
