{% macro paginator(page, url) %}
    {% include "@partials/paginators/default.twig" with {page: page, url: url|default(null)} %}
{% endmacro %}

{% macro dwGrid(form_action, order_action) %}
<script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            {% if form_action %}
                form_search: true,
                form_action: '{{ PUBLIC_PATH ~ form_action }}',
                form_load_data : 'dw-shell-content',
            {% endif %}
            order_attr: "{{ constant('APP_AJAX')?'class=\'dw-ajax dw-spinner\'':null}}",
            order_action: '{{ PUBLIC_PATH ~ order_action }}'
        });
    });
</script>
{% endmacro %}

{% macro page_header(page_module, page_title) %}
<div class="page-header">
    <h4>{{ page_module }}{% if page_title %} |<small> {{ page_title }}</small>{% endif %}</h4>
</div>
{% endmacro %}

{% macro messages(id) %}
<div id="{{ id|default('dw-message') }}" class="dw-message">
    {{ View_content() }}    
</div>
{% endmacro %}

{% macro link(url, text, type, class, icon, attrs) %}
<a rel="tooltip" href="{{ PUBLIC_PATH ~ url }}" class="btn btn-{{ type }} {{ button_class(class) }}"
   data-original-title="{{text}}" {{ attrs|raw }}><i class="btn-icon-only icon-{{icon}}"></i></a>
{% endmacro %}

{% macro link_button(url, text, type, class, icon, attrs) %}
<a  href="{{ PUBLIC_PATH ~ url }}" class="btn btn-{{ type }} {{ button_class(class) }}"
  {{ attrs|raw }}><i class="btn-icon-only icon-{{icon}}"></i></a>
{% endmacro %}

{% macro link_edit(url, text) %}
{{ _self.link(url, text, 'info', null, 'edit') }}
{% endmacro %}

{% macro link_delete(url, text) %}
{{ _self.link(url, text, 'danger', 'js-confirm', 'ban-circle', Tag_getAttrs({'confirm-title':text, 'confirm-body':'Está seguro de eliminar este Elemento? <br />Recuerda que esta operación no se puede revertir.'})) }}
{% endmacro %}