{% macro paginator(page, url) %}
    {% include "@partials/paginators/default.twig" with {page: page, url: url|default(null)} %}
{% endmacro %}

{% macro grid(form_action, order_action) %}
<script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            {% if form_action %}
                form_search: true,
                form_action: '{{ path(form_action) }}',
                form_load_data : 'dw-shell-content',
            {% endif %}
            order_attr: "{{ constant('APP_AJAX')?'class=\'dw-ajax dw-spinner\'':null}}",
            order_action: '{{ path(order_action) }}'
        });
    });
</script>
{% endmacro %}

{% macro page_header(page_module, page_title) %}
<div class="page-header">
    <h4>{{ page_module }}{% if page_title %} |<small> {{ page_title }}</small>{% endif %}</h4>
</div>
{% endmacro %}

{% macro messages(id) %}
<div id="{{ id|default('dw-message') }}" class="dw-message">
    {{ View_content() }}    
</div>
{% endmacro %}

{############################ LINKS ##########################}
{% macro link(url, text, type, icon, attrs) %}
<a rel="tooltip" href="{{ path(url) }}" class="btn btn-{{ type }} {{ button_class(attrs) }}"
   data-original-title="{{text}}" {{ attrs(attrs, ['class','href','data-original-title']) }}><i class="btn-icon-only icon-{{icon}}"></i></a>
{% endmacro %}

{% macro link_action(action, text, type, icon, attrs) %}
<a rel="tooltip" href="{{ path(action, true) }}" class="btn btn-{{ type }} {{ button_class(attrs) }}"
   data-original-title="{{text}}" {{ attrs(attrs, ['class','href','data-original-title']) }}><i class="btn-icon-only icon-{{icon}}"></i></a>
{% endmacro %}

{% macro link_button(url, text, type, icon, attrs) %}
<a  href="{{ path(url) }}" class="btn btn-{{ type }} {{ button_class(attrs, true) }}"
  {{ attrs(attrs, ['class','href']) }}>{% if icon %}<i class="btn-icon-only icon-{{icon}}"></i> {% endif %}{{ text }}</a>
{% endmacro %}

{% macro link_button_action(action, text, type, icon, attrs) %}
<a  href="{{ path(action, true) }}" class="btn btn-{{ type }} {{ button_class(attrs, true) }}"
  {{ attrs(attrs, ['class','href']) }}>{% if icon %}<i class="btn-icon-only icon-{{icon}}"></i> {% endif %}{{ text }}</a>
{% endmacro %}

{% macro link_edit(action, text) %}
{% import _self as this %}
{{ this.link_action(action, text, 'info', 'edit') }}
{% endmacro %}

{% macro link_delete(action, text) %}
{% import _self as this %}
{{ this.link_action(action, text, 'danger', 'ban-circle',{'confirm-title':text, 'confirm-body':'Está seguro de eliminar este Elemento? <br />Recuerda que esta operación no se puede revertir.', class : 'js-confirm'}) }}
{% endmacro %}

{% macro link_cancel(url, text) %}
{% import _self as this %}
{{ this.link_button(url, 'CANCELAR', 'danger'~(url is empty?' btn-back':null), 'ban-circle',{title:text|default('Cancelar Operación')}) }}
{% endmacro %}

{% macro link_add(action, text) %}
{% import _self as this %}
{{ this.link_button_action(action, text, 'success', 'check') }}
{% endmacro %}

{% macro link_report(url, text, title, files, attrs) %}
{% import _self as this %}
{{ this.link_button('reportes/'~url, text|upper, 'info js-report no-load', 'print', 
    attrs_report(files|default('html'), attrs|default({})|merge({title: title}))) }}
{% endmacro %}

{############################ BOTONES ##########################}

{% macro button(text, btn_class, icon, attrs, type) %}
<button type="{{ type|default('button') }}" {{ attrs(attrs, ['class','type']) }} class="btn btn-{{ btn_class }} {{ button_class(attrs, true) }}">
{% if icon %}<i class="btn-icon-only icon-{{icon}}"></i> {% endif %}{{ text|upper }}</button>
{% endmacro %}

{% macro submit(text, icon, attrs) %}
{% import _self as this %}
{{ this.button('GUARDAR', 'success', icon|default('save'), attrs|default({})|merge({class:'no-ajax',title:text|default('Guardar')}), 'submit') }}
{% endmacro %}

{% macro reset(text, icon, attrs) %}
{% import _self as this %}
{{ this.button('LIMPIAR', 'info', icon|default('undo'), attrs|default({title:text|default('Limpiar Formulario')}), 'reset') }}
{% endmacro %}