{% macro paginator(page, url) %}
    {% include "@partials/paginators/default.twig" with {page: page, url: url|default(null)} %}
{% endmacro %}

{% macro dwGrid(form_action, order_action) %}
<script type="text/javascript">
    $(function() {
        $('table').dwGrid({
            {% if form_action %}
                form_search: true,
                form_action: '{{ PUBLIC_PATH ~ form_action }}',
                form_load_data : 'dw-shell-content',
            {% endif %}
            order_attr: "{{ constant('APP_AJAX')?'class=\'dw-ajax dw-spinner\'':null}}",
            order_action: '{{ PUBLIC_PATH ~ order_action }}'
        });
    });
</script>
{% endmacro %}

{% macro page_header(page_module, page_title) %}
<div class="page-header">
    <h4>{{ page_module }}{% if page_title %} |<small> {{ page_title }}</small>{% endif %}</h4>
</div>
{% endmacro %}

{% macro messages(id) %}
<div id="{{ id|default('dw-message') }}" class="dw-message">
    {{ View_content() }}    
</div>
{% endmacro %}