{% extends not is_ajax ? "@templates/backend/default.twig" : "@templates/ajax.twig" %}

{% import 'sistema/configuracion/macros.twig' as config_macros %}

{% block content %}
    <div class="btn-toolbar btn-toolbar-top">
        <div class="btn-actions">
            {{ html_button("sistema/configuracion/", 'basic', {'class':'btn-success active'}, 'asterisk', constant('APP_AJAX'))}}
            {{ html_button("sistema/configuracion/routes/", 'routes', {'class':'btn-warning'}, 'random', constant('APP_AJAX'))}}
            {{ html_button("sistema/configuracion/databases/", 'databases', {'class':'btn-warning'}, 'hdd', constant('APP_AJAX'))}}
            <div class="pull-right">
                {{ html_button("sistema/configuracion/reset/", 'reset', {'class':'btn-danger js-confirm', 'confirm-title':'Restarurar archivos de configuración', 'confirm-body':'Está seguro de querer restastaurar los archivos de configuración? <br />Recuerda que esta operación no se puede reversar.'}, 'warning-sign', constant('APP_AJAX'))}}
            </div>
        </div>
    </div>
    {{ form_open('', 'post', {'id':'form', 'class':'dw-validate', 'style-form':'form-horizontal'})}}
        <div class="row-fluid">
            <div class="span1">&nbsp;</div>
            <div class="span4">
                {{ form_fieldset("Configuración de la aplicación")}}
                    {{ form_text('application.name', {'class':'input-required show-error'}, config['application']['name'], 'Nombre del proyecto:')}}
                    {{ form_text('application.timezone', {'class':'input-required show-error'}, config['application']['timezone'], 'Timezone:')}}
                    {{ form_select('application.production', {'Off':'No', 'On':'Si'}, {'class':'input-required show-error'}, config['application']['production'], 'Proyecto en producción:')}}
                    {{ form_select('application.database', {'development':'Development', 'production':'Production'}, {'class':'input-required show-error'}, config['application']['database'], 'Entorno de conexión:')}}
                    {{ form_text('application.dbdate', {'class':'input-required show-error'}, config['application']['dbdate'], 'Formato de fechas:')}}
                    {{ form_select('application.debug', {'Off':'No', 'On':'Si'}, {'class':'input-required show-error'}, config['application']['debug'], 'Debug:')}}
                    {{ form_select('application.log_exceptions', {'Off':'No', 'On':'Si'}, {'class':'input-required show-error'}, config['application']['log_exceptions'], 'Mostrar excepciones:')}}
                    {{ form_text('application.charset', {'class':'input-required show-error'}, config['application']['charset'], 'Juego de caracteres:')}}
                    {{ form_text('application.cache_driver', {'class':'input-required show-error'}, config['application']['cache_driver'], 'Driver de caché:')}}
                    {{ form_hidden('application.metadata_lifetime', null, config['application']['metadata_lifetime'])}}
                    {{ form_hidden('application.namespace_auth', null, config['application']['namespace_auth'])}}
                    {{ form_select('application.routes', {'Off':'No', 'On':'Si'}, {'class':'input-required show-error'}, config['application']['routes'], 'Habilitar el routes:')}}
                {{ form_fieldset()}}
            </div>
            <div class="span1">&nbsp;</div>
            <div class="span4">
                {{ form_fieldset("<a id='add-config' href='#form-add-config' class='btn' data-toggle='modal'><i class='icon-ok icon-expand'></i>Agregar parámetro</a>")}}
                {% if config.custom is defined %}
                    {% for campo, valor in config.custom %}
                        {{ config_macros.customConfig(valor, campo) }}
                    {% endfor %}
                {% endif %}
                <div id="append-config"></div>
                <p>Los campos creados se definirán automáticamente al cargar el aplicativo y se almacenarán en el config.ini</p>
                <p>Para eliminar una variable puede colocar el valor "delete-var" en el input.</p>

                {{ form_fieldset()}}

            </div>
        </div>

        <div class="row-fluid">
            <div class="form-actions">
                {{ DwButton_submit('Guardar configuración', 'check')}}
                {{ DwButton_cancel()}}
            </div>
        </div>


    {{ form_close()}}
{% endblock content %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $(function(){
        {{ config_macros.js_modal() }}
    });
</script>
<!-- Imprimimos el modal justo antes del Body -->
{{ form_open('', '', {'id':'form-modal', 'class':'dw-validate', 'style':'form-horizontal'})}}
    <div class="modal hide" id="form-add-config">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Agregar variable de configuración</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="span5">
                    {{ form_text('variable', {'class':'input-required show-error'}, null, 'Nombre de la variable')}}
                </div>
                <div class="span5">
                    {{ form_text('valor', {'class':'input-required show-error'}, null, 'Valor')}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            {{ form_submit("Crear", {'class':'btn btn-primary'})}}
        </div>
    </div>
{{ form_close()}}
{% endblock javascript %}