{% extends not is_ajax ? "@templates/backend/default.twig" : "@templates/ajax.twig" %}

{% block content %}
    {{ form_open('', 'post', {'id':'form', 'class':'dw-validate'})}}

        <div class="row-fluid">
            <div class="span4">
                {{ form_text('recurso.modulo', {'class':'mask-alphanum show-error'}, null, 'Módulo')}}
            </div>
            <div class="span4">
                {{ form_text('recurso.controlador', {'class':'input-required mask-alphanum show-error'}, null, 'Controlador')}}
            </div>
            <div class="span4">
                {{ form_text('recurso.accion', {'class':'mask-alphanum show-error'}, null, 'Acción')}}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                {{ form_textarea('recurso.descripcion', {'class':'input-required mask-text show-error input-xxlarge'}, null, 'Descripción')}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-actions">
                {{ DwButton_save('Guardar recurso')}}
                {{ DwButton_reset('form')}}
                {{ DwButton_cancel('sistema/recurso/listar/')}}
            </div>
        </div>
        {% block extra_fields '' %}
    {{ form_close()}}

</div>
{% endblock content %}